@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2f6b4f;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #a5c9ca;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 0;
  margin-bottom: 10px;
  
}

.container {
  
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 100px -50px;
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding: 20px;
  
  height: 70px;
	width: 100%;
	background: rgb(27, 27, 27);
	font-size: 1.2rem;
  
  position: relative;
  z-index: 100;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 50px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form {
  background-color: #f4f4f4;
  padding: 20px;
  width: 70%;
  margin: 15px auto;
  border-radius: 10px;
}

.form_update{
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.session{
  text-align: center;
  display: grid;
  width: 50%;
  align-items: center;
  margin-left: -7%;
  position: relative;
} 

.session_expand{
  text-align: center;
  display: grid;
  max-width: 70%;
  align-items: center;
  margin-left: -7%;
  position: relative;
} 

.session_update{
  text-align: center;
  display: grid;
  width: 70%;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
} 

.session_add{
  text-align: center;
  display: grid;
  width: 50%;
  align-items: center;
  margin-left: 5%;
} 

.task {
  background: #ffffff;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.task_expand {
  background: #ffffff;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.task h1 {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session_actions {
  text-align: center;
  display: flex;
  align-items: center;
} 

.btn_edit {
  background-color: transparent;
  margin-right: 10%;
  border-color: transparent;
}

.btn_delete {
  background-color: transparent;
  border-color: transparent;
}

.btn_add {
  margin-left: 10%;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #232024;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

  .background {
        position: "center";
        size: "cover";
        width: "1000px";
        height: "1000px",
  }

 .auth-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #c8e1e2;
    box-shadow: 0 15px 25px rgba(1, 43, 37, 0.7);
    border-radius: 10px;
}

.auth-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #232024;
    text-align: center;
}

.auth-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #232024;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #232024;
    outline: none;
    background: transparent;
    border-radius: 5px;
}

.auth-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: #232024;
    pointer-events: none;
    transition: .5s;
}

.auth-box .user-box input:focus~label,
.auth-box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: #a5c9ca;
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    color: #c8e1e2;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 4px;
    border: 1px solid #a5c9ca;
    background-color: #143b5c;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    
}

#submit:hover {
  transform: scale(0.98);
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: #232024;
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    margin: auto;
    color: #bf00ff;
    text-decoration: none;
}

/*#wrapper{
  position: center;
}*/

.front_header{
  color: #ffffff;
  position: relative;
  z-index: 100;

}

.front{
  color: #FFFFFF;
  position: relative;
  z-index: 100;
  top: 275px;
}

.back{
  position: center;
  z-index: -100;
}
